# CODEOWNERS файл указывает, кто владеет кодом в репозитории.
# В правиле защиты main ветки устанавливается требование на то, чтобы перед слиянием PR был одобрен владельцем кода.
# В данном файле codeowner-ами указаны все члены команды организации Teachers,
# таким образом, для того, чтобы вмержить PR, ему обязательно нужен апрув от члена Teachers

* @Programming-Classrooms/teachers
